@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sevillana&display=swap');

* {
    font-family: 'montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item a {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;

}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 10px;
    background: #fff;
}

.w-100-height {
    height: 95vh;
    width: 100%;
}

.carousel-item {
    min-height: 300px;
}

.carousel-caption {
    margin-bottom: 100px;
}

.carousel-caption h5 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: left;
}

.carousel-caption p {
    font-weight: bolder;
    color: rgb(106, 92, 92);
}

.amound{
    font-weight: bold;
    color: rgb(73, 72, 72);
}

